:root {
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
    scroll-behavior: smooth;
}

@keyframes change_bg_color {
    0% {
        background-color: black;
        color: #fff;
    }

    50% {
        background-color: rgb(56, 47, 47);
        color: #fff;
    }

    100% {
        background-color: rgb(78, 59, 59);
        color: #fff;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: black;
    padding: 30px 50px;
    z-index: 10;
    animation: change-bg-color 1000ms ease-in-out infinite;
}

.header__list {
    display: flex;
    gap: 50px;

}

.header__item {}

.header__link:hover .header {
    animation: change-bg-color 1000ms ease-in-out infinite;
}

.header__link::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: red;
    border-radius: 2px;
    margin-top: 15px;
    transform: scale(0);
    transform-origin: center right;
    transition: transform var(--animation), transform-origin var(--animation);
}

.header__link:hover::after {
    transform: scale(1);
    transform-origin: center left;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url(./images/ai-generated-7809190_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: con;
}

@keyframes border-color {
    0% {
        border: 3px solid sandybrown;
    }

    25% {
        border: 3px solid rgb(0, 4, 248);
    }

    50% {
        border: 3px solid rgb(0, 255, 64);
    }

    75% {
        border: 3px solid rgb(0, 217, 255);
    }

    100% {
        border: 3px solid rgb(250, 0, 0);
    }
}

.hero__thumb {
    border: 3px solid sandybrown;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
}

.hero__thumb:hover .overlay {
    transform: translateX(0);
    animation-name: border-color;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2000ms;
}

/* .hero__left-image {
    width: 800px;
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.hero__right-image {
    width: 600px;
    position: absolute;
    right: 100px;
    top: 100px;
} */

.hero__thumb-left {
    border: 3px solid sandybrown;
    position: absolute;
    width: 600px;
    bottom: 300px;
    left: 150px;
}

.hero__thumb-right {
    border: 3px solid sandybrown;
    position: absolute;
    width: 450px;
    top: 100px;
    right: 100px;
}

.card {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100%);
    transition: transform 400ms ease-in-out;
}

.overlay__text {
    color: #fff;
}

.btn__open {
    color: black;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;

}

.section {
    height: 100vh;
}

#about {
    background-color: aqua;
}

#projects {
    background-color: blueviolet;
}

#contact {
    background-color: aquamarine;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* .no-scroll {
    overflow: hidden;
} */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 1000px;
    min-height: 750px;
    padding: 50px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px, 1px, 0px rgba(0, 0, 0, 0.14), ;
    overflow: scroll;
}

@keyframes button-move {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translate(0, 50%)
    }

    50% {
        transform: translate(50%, 0);
    }

    75% {
        transform: translate(50%, 50%);
    }

    100% {
        transform: translate(0);
    }
}

.btn__open {
    width: 600px;
    height: 400px;
    animation-name: button-move;
    background-color: black;
    color: #fff;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.close__icon {
    width: 18px;
    height: 18px;
}

.close__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background-color: #fff;
}

.close__btn:hover .close__btn:focus {}

.modal__title {}

.form {
    display: flex;
    flex-direction: column;
}