.header {}

.hero {
    position: relative;
    height: 100vh;
    background-image: url(./images/ai-generated-7809190_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.hero__thumb {
    border: 3px solid yellow;
    position: absolute;
    border-radius: 20px;
}

/* .hero__left-image {
    width: 800px;
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.hero__right-image {
    width: 600px;
    position: absolute;
    right: 100px;
    top: 100px;
} */

.hero__thumb-left {
    width: 800px;
    bottom: 300px;
    left: 300px;
}

.hero__thumb-right {
    width: 600px;
    top: 100px;
    right: 100px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* .no-scroll {
    overflow: hidden;
} */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 1000px;
    min-height: 750px;
    padding: 50px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px, 1px, 0px rgba(0, 0, 0, 0.14), ;
    overflow: scroll;
}

.close__icon {
    width: 18px;
    height: 18px;
}

.close__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background-color: #fff;
}

.close__btn:hover .close__btn:focus {}

.modal__title {}

.form {
    display: flex;
    flex-direction: column;
}